:root{
  --img--:0;
}
.About {
    height: auto;
    width: 100%;
    position: relative;
    z-index: 99;
    padding: 9vw 18vw;
    overflow: hidden;
    display: flex;
    gap: 15vw;
    overflow-x: hidden;
    flex-direction: column;
    animation: fadestart 0.5s ease-in-out;
  }
  @keyframes fadestart {
    0%{
        opacity: 0;
        margin-left: 8vw;
    }
    100%{
        opacity: 1;
        margin-left: 0;
    }
  }
  .aabout {
    width: 100%;
    height: 100%;
  }
  
  .myname {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .lefttext {
    width: 50%;
    height: 100%;
  }
  
  .myname h1 {
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: -2px;
  }
  
  .myname h4 {
    overflow: hidden;
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  
  #clg {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: #DE1D8D;
    --tw-gradient-to: #DE1D8D;
    margin-left: 5px;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    background-repeat: no-repeat;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration-line: none;
    background-position: 0px 100%;
    background-size: 100% 0.2em;
}
#clg:hover{
  background-size: 100% 100%;
}
  
  a {
    text-decoration: none;
  }
  
  .righttext {
    border-radius: 50%;
    width: 4cm;
    height: 4cm;
    filter: none;
    backdrop-filter: blur(1px);
    overflow: hidden;
    transition: all 0.5s cubic-bezier(.37,.14,.19,1.05);
  }
  .righttext::after{
    content: 'CLICK';
    background: linear-gradient(to top,#0f0f0fad,transparent);
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%; 
    left: 0; 
    opacity: var(--img--);
    z-index: 1; 
    pointer-events: none; 
    transition: top 0.5s cubic-bezier(.37,.14,.19,1.05);
  }
  .righttext:hover::after{
    top:0%;
  }
  .righttext img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 0.5s cubic-bezier(.37,.14,.19,1.05);
  }
  
  .para {
    margin: 3vw 0;
    width: 100%;
    height: auto;
  }
  
  .para p {
    font-weight: 500;
    font-size: 1.7vw;
  }
  
  .skills ul {
    margin-top: 12px;
  }
  
  .skills h4 {
    font-size: 1.5vw;
  }
  
  .skills h3 {
    font-size: 2vw;
    margin-top:30px;
  }
   li{
    font-size: 1.4vw;
    margin-top: 3px;
  }
  #imghoveredp{
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform-origin: center; 
    padding: 2% 25%;
    transform: translate(-50%, -50%);
  }
  #imghoveredc:hover{
    scale: 1.05;
    overflow: hidden;
  }

  #imghoveredc{
    border-radius: 20%;
  }

  @media only screen and (max-width: 790px){
    .About{
      padding-top: 15vh;
    }
    .myname{
      display: flex;
      flex-direction: column-reverse;
      position: relative;
     align-items: center;
    }
    .lefttext{
      width: auto;
    }
    
    .lefttext h1{
      text-align: center;
      font-size: larger;
      letter-spacing: 0px;
    }
    .lefttext h4{
      text-align: center;
      justify-content: center;
    }
    .para p{
      margin-top: 20px;
      font-size: 2.5vw;
    }
    .skills h3{
      font-size: 4vw;
    }
    .year h4{
   font-size: large;
    }
    .year ul li{
      font-size: 2.3vw;
    }
    .skills ul li{
      font-size: large;
    }
    #imghoveredp{
      padding: 0;
    }
  }